@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
       opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: fadeIn;
    animation-duration: 2s;
    animation-name: fadeIn;
}

header .mobile-navigation .cheeseburger {
    cursor: pointer;
    position: relative;
}

header .mobile-navigation .cheeseburger .lines {
    /* this span is the central line of the menu icon */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: white;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* these are the upper and lower lines in the menu icon */
}

header .mobile-navigation .cheeseburger .lines::before,
header .mobile-navigation .cheeseburger .lines::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s;
}

header .mobile-navigation .cheeseburger .lines::before {
    top: -5px;
}

header .mobile-navigation .cheeseburger .lines::after {
    top: 5px;
}

header.mobile-navigation-is-expanded .mobile-navigation .cheeseburger .lines {
    background-color: rgba(255, 255, 255, 0);
}

header.mobile-navigation-is-expanded .mobile-navigation .cheeseburger .lines::before,
header.mobile-navigation-is-expanded .mobile-navigation .cheeseburger .lines::after {
    background-color: white;
}

header.mobile-navigation-is-expanded .mobile-navigation .cheeseburger .lines::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

header.mobile-navigation-is-expanded .mobile-navigation .cheeseburger .lines::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

@media screen and (max-width: 767px) {
    header.mobile-navigation-is-expanded nav {
        background-color: #03263d;
        display: block;
        position: absolute;
        padding: 16px 0;
        width: 100%;
    }

    header.mobile-navigation-is-expanded nav a {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    header.mobile-navigation-is-expanded nav a:hover {
        background-color: white;
        color: black;
    }

    header.mobile-navigation-is-expanded nav a.donate {
        border: none;
        border-radius: 0;
    }

    header.mobile-navigation-is-expanded nav a.facebook,
    header.mobile-navigation-is-expanded nav a.twitter {
        display: none;
    }

    iframe#_cd_iframe {
        left: -767px;
        position: absolute;
    }
}

section.additional-sections {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    padding: 50px 16px 24px;
    width: 980px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

section.additional-sections .projects {
    text-align: center;
}

section.additional-sections .projects.first {
    padding: 48px 0 0;
}

section.additional-sections .projects h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin: 12px 0 32px;
}

section.additional-sections .projects .project {
    background-color: #1b1b1c;
    border-radius: 3px;
    display: inline-block;
    height: 268px;
    text-align: center;
    width: 226px;
    vertical-align: bottom;
    overflow: hidden;
    margin: 5px;
}

section.additional-sections .projects .project img {
    border: none;
    height: 129px;
    margin: 10px 0 0;
}

section.additional-sections .projects .project.other-links img {
    height: 66px;
}

section.additional-sections .projects .project h5 {
    font-size: 12px;
    margin: 12px;
    text-align: left;
}

section.additional-sections .projects .project p {
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin: 0 12px;
    text-align: left;
}

section.additional-sections .projects .project span a {
    display: block;
    font-weight: 400;
    line-height: 1.3;
}

section.additional-sections .projects h4 a,
section.additional-sections .projects .project span a {
    color: #14a767;
}

section.additional-sections .projects h4 a:hover,
section.additional-sections .projects .project span a:hover {
    color: #1cbe78;
}

section.additional-sections .call-to-activism {
    margin: 48px 0 0;
    text-align: center;
}

section.additional-sections .call-to-activism br {
    display: none;
}

section.additional-sections .call-to-activism a {
    background-color: #1b1b1c;
    background-image: linear-gradient(#262627 0%, #1b1b1c 100%);
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color: white;
    display: inline-block;
    font-weight: 700;
    line-height: 36px;
    margin: 0 12px 0 6px;
    padding: 0 16px;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    section.additional-sections .call-to-activism br {
        display: block;
    }

    section.additional-sections .call-to-activism a {
        margin: 0 0 12px;
    }
}

section.additional-sections .quotes {
    margin: 48px 0 0;
    text-align: center;
}

section.additional-sections .quotes h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin: 12px 0 32px;
}

section.additional-sections .quotes .publication {
    display: inline-block;
    text-align: left;
    padding: 0 16px 32px;
    vertical-align: top;
    width: 280px;
}

section.additional-sections .quotes .publication .quote {
    padding: 0 0 16px;
}

section.additional-sections .quotes .publication .quote::before,
section.additional-sections .quotes .publication .quote::after {
    color: #777;
    content: '"';
    font-family: Verdana, sans-serif;
}

section.additional-sections .quotes .publication .name {
    color: #7e7e7e;
    font-size: 18px;
    font-weight: 700;
}

section.additional-sections .quotes .publication .name img {
    margin: 0 6px 0 0;
    vertical-align: middle;
}

section.additional-sections .publications {
    text-align: center;
    border-top: 1px solid #334;
    padding: 36px 0 24px;
}

section.additional-sections .publications a {
    display: inline-block;
    padding: 8px;
    vertical-align: middle;
}

section.footer {
    background-image: url(../images/stripes.png);
    font-family: 'Raleway', sans-serif;
    padding: 0 0 140px;
}

section.footer .logo-bar {
    background-color: #3b3b3b;
    border-bottom: 1px solid #4e4e4e;
    border-top: 1px solid #4e4e4e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    height: 68px;
    margin: 16px 0 0;
    text-align: center;
}

section.footer .logo-bar img {
    height: 40px;
    padding: 14px 0 10px;
}

section.footer nav {
    padding: 64px 0 8px;
    text-align: center;
    line-height: 2;
}

section.footer nav a {
    color: white;
    font-weight: bold;
    padding: 0 12px;
    text-decoration: none;
}

section.footer .conclusion {
    color: #a8a8a9;
    line-height: 1.5;
    padding: 0 20px;
    text-align: center;
}

section.footer .conclusion a {
    color: #a8a8a9;
    font-weight: bold;
}

section.footer .conclusion .donations {
    color: white;
}

section.footer .conclusion .donations a {
    color: #14a767;
}

@media screen and (max-width: 767px) {
    section.footer {
        padding: 0 0 32px;
    }
}
